TEE_BUS/Service References/TEEService/TEECRUDService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://teeservice.azurewebsites.net/TEECRUDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" />
  <xs:element name="DetalhesBandeira">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalhesBandeiraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="DetalhesBandeiraResult" nillable="true" type="q1:Bandeira" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarBandeira">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="bandeira" nillable="true" type="q2:Bandeira" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarBandeiraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastrarBandeiraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodasBandeiras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TodasBandeirasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="TodasBandeirasResult" nillable="true" type="q3:ArrayOfBandeira" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalhesCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalhesClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="DetalhesClienteResult" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="cliente" nillable="true" type="q5:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastrarClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="cliente" nillable="true" type="q6:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarFabrica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_fabrica" nillable="true" type="q7:Fabrica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarFabricaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastrarFabricaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestalhesDaFabrica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestalhesDaFabricaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="DestalhesDaFabricaResult" nillable="true" type="q8:Fabrica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodasFabricas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClienteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodasFabricasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="TodasFabricasResult" nillable="true" type="q9:ArrayOfFabrica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarFabrica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_fabrica" nillable="true" type="q10:Fabrica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarFabricaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletarFabricaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFabrica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_fabrica" nillable="true" type="q11:Fabrica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFabricaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarFabricaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_TipoContrato" nillable="true" type="q12:TipoContrato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastrarContratoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalhesContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalhesContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="DetalhesContratoResult" nillable="true" type="q13:TipoContrato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodosContratos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TodosContratosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="TodosContratosResult" nillable="true" type="q14:ArrayOfTipoContrato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarDistribuidora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_Distribuidora" nillable="true" type="q15:Distribuidora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarDistribuidoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastrarDistribuidoraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalhesDistribuidora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalhesDistribuidoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="DetalhesDistribuidoraResult" nillable="true" type="q16:Distribuidora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodasDistribuidoras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TodasDistribuidorasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="TodasDistribuidorasResult" nillable="true" type="q17:ArrayOfDistribuidora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarSubGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_SubGrupo" nillable="true" type="q18:TipoSubGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarSubGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastrarSubGrupoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalhesSubGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalhesSubGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="DetalhesSubGrupoResult" nillable="true" type="q19:TipoSubGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodosSubGrupos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TodosSubGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="TodosSubGruposResult" nillable="true" type="q20:ArrayOfTipoSubGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarTarifa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_Tarifa" nillable="true" type="q21:Tarifa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarTarifaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastrarTarifaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestalhesDaTarifa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestalhesDaTarifaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="DestalhesDaTarifaResult" nillable="true" type="q22:Tarifa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodasTarifas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TodasTarifasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="TodasTarifasResult" nillable="true" type="q23:ArrayOfTarifa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarTarifa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_Tarifa" nillable="true" type="q24:Tarifa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarTarifaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarTarifaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarTarifa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_Tarifa" nillable="true" type="q25:Tarifa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarTarifaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletarTarifaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_Usuario" nillable="true" type="q26:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastrarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestalhesDoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestalhesDoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="DestalhesDoUsuarioResult" nillable="true" type="q27:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaAutenticacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaAutenticacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="VerificaAutenticacaoResult" nillable="true" type="q28:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_Usuario" nillable="true" type="q29:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_Usuario" nillable="true" type="q30:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClienteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="ListarUsuariosResult" nillable="true" type="q31:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_Conta" nillable="true" type="q32:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastrarContaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestalhesDaConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataReferencia" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FabricaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestalhesDaContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="DestalhesDaContaResult" nillable="true" type="q33:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodasContas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FabricaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodasContasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="TodasContasResult" nillable="true" type="q34:ArrayOfConta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEntreDatas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataReferencia1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataReferencia2" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FabricaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEntreDatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="ConsultaEntreDatasResult" nillable="true" type="q35:ArrayOfConta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_Conta" nillable="true" type="q36:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarContaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="_Conta" nillable="true" type="q37:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletarContaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarSimulacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fabricaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarSimulacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GerarSimulacaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DadosParaGrafico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FabricaID" type="xs:int" />
        <xs:element minOccurs="0" name="ContratoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DadosParaGraficoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TEEService.DataContracts" minOccurs="0" name="DadosParaGraficoResult" nillable="true" type="q38:ArrayOfGrafico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>